<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="paging-nav-head">
    <script src="/assets/admin/js/pagingNav.js"></script>
    <link rel="stylesheet" href="/assets/admin/css/pagingNav.css" type="text/css"/>
</th:block>

<th:block th:fragment="paging-nav">
    <div class="page_wrap">
        <div class="page_nation">
            <div class="display-inline" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="arrow pprev" th:href="@{|?search=${keyword}&page=1|}"><<</a>
                <a class="arrow prev" th:if="${paging.number > 0}" th:href="@{|?search=${keyword}&page=${paging.number}|}"><</a>
            </div>
            <div th:each="page: ${#numbers.sequence((paging.number/10)*10, (((paging.number/10)+1)*10)-1)}"
                 th:if="${(paging.totalPages)/(paging.number+1) >= 1 and paging.totalPages/10 > paging.number/10}"
                 class="display-inline">
                <a
                        th:text="${page+1}"
                        th:href="@{|?search=${keyword}&page=${page+1}|}"
                        th:classappend="${page == paging.number} ? 'active'"
                ></a>
            </div>
            <div th:each="page: ${#numbers.sequence((paging.number/10)*10, paging.totalPages-1)}"
                 th:if="${(paging.totalPages)/(paging.number+1) >= 1 and paging.totalPages/10 <= paging.number/10} "
                 class="display-inline">
                <a
                        th:text="${page+1}"
                        th:href="@{|?search=${keyword}&page=${page+1}|}"
                        th:classappend="${page == paging.number} ? 'active'"
                ></a>
            </div>
            <div class="display-inline" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="arrow next" th:if="${paging.number < paging.totalPages-1}" th:href="@{|?search=${keyword}&page=${paging.number+2}|}">></a>
                <a class="arrow nnext" th:href="@{|?search=${keyword}&page=${paging.totalPages}|}">>></a>
            </div>
        </div>
    </div>
</th:block>

</html>