html, body {
      position: relative;
      height: 100%;
    }

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

li {
  font-size: 30px;
  padding: 2px 0px;
}

a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

span {
  font-size: 30px;
}

ul {
  padding: 0px;
  list-style-type: none;
}

b {
  font-size: 40px;
}

.wrap {
  display: block;
}

.main-container {
  height: 2400px;
  display: block;
  margin: 0px;
  padding: 0px;
}

.main-thum {
  display: block;
  height: 750px;
}

.main-img {
  height: 750px;
  overflow: hidden;
  background-size: cover;
  width: 100%;
}

.section {
  display: flex;
  background-color: f3f4f7;
  height: 650px;
  justify-content: center;
  padding-top: 50px;
}

.section-title {
  padding-left: 30px;
  height: 90px;
}

.section-wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 1600px;
  flex-wrap: wrap;
}

.section-grid {
  display: flex;
  gap: 20px;
}

.section-content {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.section-content:hover {
  cursor: pointer;
}

.section-thum {
  display: flex;
  height: 60%;
  overflow: hidden;
  background-size: contain;
}

.section-descript {
  height: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.font-size20 {
  font-size: 20px;
}

.background-white {
  background-color: white;
}

.footer {
  text-align: center;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mini-board > p > img {
  display: none;
}

img {
    width: 350px;
    height: 240px;
}
