<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

      <div th:replace="~{/client/fragments/Head.html :: board-head}" />

    <script src="/assets/js/board.js"></script>
    <link rel="stylesheet" href="/assets/css/board.css" type="text/css" />
  </head>
  <body>
    <div class="form-group">
			<label for="board_content">내용</label>
			<textarea name="BOARD_CONTENT" id="board_content"></textarea>
	</div>
  </body>
</html>
