<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>

    <div th:replace="~{/client/fragments/Head.html :: board-head}"/>

    <script src="/assets/js/board.js"></script>
    <link rel="stylesheet" href="/assets/css/board.css" type="text/css"/>
</head>
<body>
<form action="/board/writeAction" class="form-group" method="post">
    <input type="hidden" name="viewCount" value="0">
    <input type="hidden" name="likeCount" value="0">
    <input type="hidden" name="boardWriter" th:value="${writer}">
    <div>
        <div>
            <select name="boardCategory1">
                <optgroup label="category1">
                    <option value="커뮤니티">커뮤니티</option>
                    <option value="갤러리">갤러리</option>
                </optgroup>
            </select>
            <select name="boardCategory2">
                <optgroup label="category2">
                    <option value="유머">유머</option>
                    <option value="자유#">자유</option>
                    <option value="QnA">QnA</option>
                    <option value="짤방">짤방</option>
                    <option value="그림">그림</option>
                </optgroup>
            </select>
            <select name="boardSubject">
                <optgroup label="말머리">
                    <option value="NOTICE">NOTICE</option>
                    <option value="NORMAL">NORMAL</option>
                    <option value="PICTURE">PICTURE</option>
                </optgroup>
            </select>
        </div>
        <div>
            <textarea name="boardTitle" placeholder="제목"></textarea>
        </div>
    </div>
    <label for="boardContent">글쓰기</label>
    <textarea name="boardContent" id="boardContent"></textarea>
    <button type="submit">등록</button>
</form>


</body>
</html>
