<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <div th:replace="~{/client/fragments/Head.html :: common-head}"/>


    <script src="/assets/js/boardView.js"></script>
    <link rel="stylesheet" href="/assets/css/boardView.css" type="text/css"/>

</head>
<body>
<div class="wrap">
    <div class="main-container">
        <div class="header">
            <div class="title1">
                <span th:text="${board.boardTitle}">제목</span>
            </div>
            <div class="title2">
                <div>
                    <span th:text="|${board.boardWriter} (${board.memberId})  '  ${#temporals.format(board.createDate,'yyyy-MM-dd HH:mm')}|">
                        작성자 | 시간
                    </span>
                </div>
                <div>
                    <span>조회 </span><span th:text="${board.viewCount}"></span>
                    <span>추천 </span><span th:text="${board.likeCount}"></span>
                </div>
            </div>
        </div>
        <div class="body">
            <span th:utext="${board.boardContent}"></span>
        </div>
        <div class="comment">
            <div class="comment-info">
                <div>
                    <span>좋아요</span>
                    <span>댓글</span>
                    <span th:text="${count}">0</span>
                </div>
                <div>
                    <th:block th:if="${board.boardMail eq mail}">
                        <span class="update">수정하기</span>
                        <span class="delete" style="cursor:pointer">삭제하기</span>
                    </th:block>
                    <input type="hidden" class="boardIdx" th:value="${board.boardIdx}">
<!--                    <input type="hidden" class="writerIdx" th:value="${writerIdx}">-->
                </div>
            </div>
            <div class="comment-box">
                <div class="comment-sort">
                    댓글
                    <span>등록순</span>
                    <span>최신순</span>
                </div>
                <div th:each="reply:${reply}" th:if="${reply.parent == 0}" class="comment-content">
                    <input type="hidden" id="replyIdx" name="replyIdx" th:value="${reply.idx}">
                    <span th:text="|${reply.writer} (${reply.memberId})|">작성자</span>
                    <div class="updateReplyForm" th:text="${reply.replyComment}">내용</div>
                    <div>
                        <span th:text="${#temporals.format(reply.createDate,'yyyy/MM/dd HH:mm')}"></span>
                        <span class="openReplyForm" style="cursor:pointer">답글쓰기</span>
                        <th:block th:if="${reply.mail eq mail}">
                            <span class="updateReply" style="cursor:pointer">수정</span>
                            <span class="deleteReply" style="cursor:pointer">삭제</span>
                        </th:block>
                    </div>
                    <div class="hidden-replyForm" style="display: none;">
                        <form action="/board/replyAction" method="post" name="replyForm" class="comment-write">
                            <input type="hidden" id="boardIdx" name="boardIdx" th:value="${board.boardIdx}">
                            <input type="hidden" id="memberIdx" name="memberIdx" th:value="${writerIdx}">
                            <input type="hidden" id="parentIdx" name="parentIdx" th:value="${reply.idx}">
                            <span>작성자</span>
                            <textarea name="replyComment" id="replyComment" rows="2"></textarea>
                            <div class="side">
                                <div>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div>
                                    <button id="replySubmit">등록</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="padding-left40" th:else="${reply.parent == 0}" th:each="child:${reply.replyList}">
                        <input type="hidden" id="reReplyIdx" name="replyIdx" th:value="${child.idx}">
                        <span th:text="|${child.writer} (${child.memberId})|">작성자</span>
                        <div class="updateReReplyForm" th:text="${child.replyComment}">내용</div>
                        <div>
                            <span th:text="${#temporals.format(child.createDate,'yyyy/MM/dd HH:mm')}"></span>
                            <span class="openReReplyForm" style="cursor:pointer">답글쓰기</span>
                            <th:block th:if="${child.mail eq mail}">
                                <span class="updateReReply" style="cursor:pointer">수정</span>
                                <span class="deleteReReply" style="cursor:pointer">삭제</span>
                            </th:block>
                        </div>
                        <div class="hidden-reReplyForm" style="display: none;">
                            <form action="/board/replyAction" method="post" name="replyForm" class="comment-write">
                                <input type="hidden" id="reBoardIdx" name="boardIdx" th:value="${board.boardIdx}">
                                <input type="hidden" id="reMemberIdx" name="memberIdx" th:value="${writerIdx}">
                                <input type="hidden" id="reParentIdx" name="parentIdx" th:value="${reply.idx}">
                                <span>작성자</span>
                                <textarea name="replyComment" id="replyComment" rows="2"></textarea>
                                <div class="side">
                                    <div>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div>
                                        <button id="replySubmit">등록</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="comment-page">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                </div>
                <div>
                    <form action="/board/replyAction" method="post" name="replyForm" class="comment-write">
                        <input type="hidden" id="boardIdx" name="boardIdx" th:value="${board.boardIdx}">
                        <input type="hidden" id="memberIdx" name="memberIdx" th:value="${writerIdx}">
                        <input type="hidden" id="parentIdx" name="parentIdx" th:value=0>
                        <span>작성자</span>
                        <textarea name="replyComment" id="replyComment" rows="2"></textarea>
                        <div class="side">
                            <div>
                                <span></span>
                                <span></span>
                            </div>
                            <div>
                                <button id="replySubmit">등록</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <button class="back">뒤로가기</button>
        <div class="footer font-size20">
            푸터
        </div>
    </div>
</div>
</body>
</html>