<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>join</title>

    <div th:replace="~{/client/fragments/Head.html :: common-head}" />

    <script src="/assets/client/css/join.js"></script>
    <link rel="stylesheet" href="/assets/client/css/login.css" type="text/css" />
    <link rel="stylesheet" href="/assets/client/css/join.css" type="text/css" />
  </head>
  <body>
    <div class="wrap">
      <div class="main-container">
        <div class="logo">
          <img src="images/red-304573_1280.png" alt="" />
        </div>
        <form method="post" action="/joinAction" class="input-container">
          <input type="hidden" name="isLimited" id="isLimited" value="false">
          <div class="form-flex">
            <label for="memberMail">이메일</label>
            <input type="email" name="memberMail" id="memberMail" />
          </div>
          <div class="form-flex">
            <label for="memberPw">비밀번호</label>
            <input type="password" name="memberPw" id="memberPw" />
          </div>
          <div class="form-flex">
            <label for="memberName">이름</label>
            <input type="text" name="memberName" id="memberName" />
          </div>
          <div>
            <input class="btn-submit btn btn-primary" type="submit" value="회원가입" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
