<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>페이지가 없습니다.</title>

    <link rel="stylesheet" href="/assets/error/css/error.css" type="text/css"/>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>페이지가 없습니다.</h2>
    </div>
    <div>
        <p> 400 오류 화면 입니다.</p>
    </div>
    <button type="button" class="cancel-button"
            onclick="location.href=document.referrer">뒤로가기
    </button>
</div>
</body>
</html>