<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>접근 제한</title>

<!--    <script src="/assets/error/js/error.js"></script>-->
    <link rel="stylesheet" href="/assets/error/css/error.css" type="text/css"/>
</head>
<body>
<div class="wrap">
    <div class="container">
        <div class="py-5 text-center">
            <h2>제한된 계정은 게시글을 쓸 수 없습니다.</h2>
        </div>
        <div>
            <p></p>
            <button type="button" class="cancel-button"
                    onclick="location.href=document.referrer">뒤로가기
            </button>
        </div>
    </div>
</div>
<!--<div class="errorPage">-->
<!--    <span class="errorHead">Error!</span><br />-->
<!--    <p th:text="${'path: ' + path}"></p>-->
<!--    <p th:text="${'status: ' + status}"></p>-->
<!--    <p th:text="${'timestamp: ' + timestamp}"></p>-->
<!--    <p th:text="${'error: ' + error}"></p>-->
<!--    <p th:text="${'errors: ' + errors}"></p>-->
<!--    <p th:text="${'exception: ' + exception}"></p>-->
<!--    <p th:text="${'message: ' + message}"></p>-->
<!--    <p th:text="${'trace: ' + trace}"></p>-->
<!--</div>-->
</body>
</html>