<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>400번대 에러</title>

    <link rel="stylesheet" href="/assets/error/css/error.css" type="text/css"/>
</head>
<body>
<div class="wrap">
    <div class="container">
        <div class="py-5 text-center">
            <h2>에러 발생</h2>
        </div>
        <div>
            <p th:text="${model}"> 4xx 오류 화면 입니다.</p>
        </div>
        <button type="button" class="cancel-button"
                onclick="location.href=document.referrer">뒤로가기
        </button>
    </div>
</div>
</body>
</html>