<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="common-nav">
        <div class="header-fix">
            <header class="header background-white">
                <div class="flex-side">
                    <h6 class="logo">
                        <a href="/">My Portfolio</a>
                    </h6>
                    <div class="header-gap">
                        <span>장터</span>
                        <span>커뮤니티</span>
                        <span>갤러리</span>
                    </div>
                    <div class="header-button">
                        <a href="/login">Login</a>
                        <div class="open-menu"></div>
                    </div>
                </div>
                <div class="nav-bar display-none">
                    <ul>
                        <li>식품</li>
                        <li>가전</li>
                        <li>의류</li>
                    </ul>
                    <ul>
                        <li>유머게시판</li>
                        <li>자유게시판</li>
                        <li>QnA게시판</li>
                    </ul>
                    <ul>
                        <li>짤방갤러리</li>
                        <li>그림갤러리</li>
                        <li>영상갤러리</li>
                    </ul>
                </div>
            </header>
        </div>
    </th:block>

</html>